:root {
    --primary-color: #FA4A0C;
    --secondary-color: #252B42;
    --text-color-default: #000;
    --white-color: #fff;
    --text-light: #F6F6F6;
    --text-muted: #737373;
    --bg-light: #E4E4E4;
    --font-primary: "Montserrat", sans-serif;
    --font-secondary: "Poppins", sans-serif;
}





* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-primary);
}